[user]
    name = flathill404
    email = 38638577+flathill404@users.noreply.github.com
[include]
    path = ~/.gitconfig.local
[init]
    defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f